.touch .parent-hover > .child-hover {
    display: inline-block;
    opacity: 0.8;
}

.touch .parent-hover > .child-hover-flex {
    display: flex;
    align-items: center;
    opacity: 0.8;
}

.parent-hover:hover > .child-hover {
    display: inline-block;
}

.parent-hover:hover > .child-hover-flex {
    display: flex;
    align-items: center;
}

.parent-hover:hover > .child-hover-disapear {
    display: none;
}

.touch .parent-hover > .child-hover-disapear {
    display: none;
}

.animation-reverse {
    animation-direction: reverse;
}

.black-to-white {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 15%,
        rgba(255, 255, 255, 0) 100%
    );
}
